* {
	box-sizing: border-box; 
	color: #000;
}
body {
	background-color: #ffffb3;
	font-family: 'Montserrat', sans-serif;
}
#header-nav {
	background-color: #777;
	border: 0;
	border-radius: 0;
}
.navbar-brand {
	height: 0px;
	padding: 0px 15px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-brand h1 {
    margin-top: 10px;
    margin-bottom: 0px;
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
}
#collapse-nav {
	width: 100%;
	border: 0;
}
#nav-list {
	margin-top: 0px;
	margin-bottom: 0px;
}
#nav-list a {
	text-align: center;
	width: 100%;
}
#nav-list a:hover {
	background-color: #ccc;
}
#nav-list a:focus {
	text-decoration: underline;
}
#main-title h2{
	font-size: 1.5em;
  	font-weight: bold;
    text-align: center;
}
#main-content {
	margin-top: 50px;
}
.item {
	background-color: #ccc;
	padding : 0px;
	margin-bottom: 15px;
}
.item-title {
	text-align: center;
    font-weight: bold;
    border: 1px solid black;
}
.text {
    padding: 10px 25px;
}
.text span {
	font-size: 0.8em;
}
#item-chicken {
    background-color: #ffb3b3;
}
#item-beef {
	background-color: #990000;
}
#item-sushi {
	background-color: #ffe680;	
}
#item span {
	font-size: 1.1em;
}
#beef {
    color: #fff;
}