* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
}

body {
	width: 100%;
}

h1 {
	text-align: center;
	margin-top: 50px;
}

.sections {
	top: 4em;
    left: 4em;
    position: relative;
}

.options {
	float: left;
	width: 30%;
  	background-color: gray;
    margin: 15px 8px;
    border: 3px solid black;
    position: relative;
}

.food {
	text-align: center;
    color: black;
    /* margin-left: 376px; */
    width: 33%;
    position: relative;
    left: 67%;
}

h2 {
	border-left: 3px solid black;
	border-bottom: 3px solid black;
	padding-top: 8px;
	padding-bottom: 8px;

}

h2#chicken {
	background-color: #ffb3b3;
}

h2#beef {
	background-color: #ff3333;
	color: #fff;
}

h2#sushi {
	background-color: #ffe680;
}

.text {
	padding: 12px 15px;
	text-transform: lowercase;
}

