* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
}

body {
	width: 100%;
}

h1 {
	text-align: center;
	margin-top: 50px;
}

.row {
	position: relative;
	top: 4em;
	bottom: 4em;
}

.col-lg-4 {
	float: left;
    width: 33%;
}

.item {
    border: 3px solid black;
    background-color: grey;
    margin: 15px;
    position: relative;
    left: 0.5em;
}

.item-title {
    float: right;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}

.item-title p {
	text-align: center;
    padding: 5px;
    font-size: x-large;
    font-weight: bold;
    width: 200px;
}

p#chicken {
	background-color: #ffb3b3;
}

p#beef{
	background-color: #990000;
	color: #fff;
}

p#sushi {
	background-color: #ffe680;
}

.text {
	padding: 15px 20px;
    text-transform: lowercase;
    text-align: justify;
    margin-top: 2.5em;
}
